cityscapesscripts==2.2.1
matplotlib==3.5.1
mmcv==1.7.1
mmcv_full==1.7.0
numpy==1.22.3
opencv_python==4.5.5.64
packaging==21.3
Pillow==9.4.0
prettytable==3.2.0
scikit_learn==1.2.1
scipy==1.8.0
setuptools==61.2.0
timm==0.6.11
torch==1.11.0
torchvision==0.12.0
